<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>ui.regression.testcases.iMercer.TC1_LoginTo_iMercer</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>loginToIMercer</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>ui.regression.testcases.iMercer.TC7_MenuNavigationsVerificationUSRegion</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifySubMenuUnderBullets</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyMainMenuInDNN</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>changeTheRegionToUS</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>dnnPageMenuVerification</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyNavigationViaHeaderMenu</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifySubMenuInDNN</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
