<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Mercer.com Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="826eb1">  <td>19/01/08 20:24:51</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC1_LoginTo_iMercer.loginToIMercer()[pri:1, instance:ui.regression.testcases.iMercer.TC1_LoginTo_iMercer@782663d3]">loginToIMercer</td> 
  <td>main@79290965</td>   <td></td> </tr>
<tr bgcolor="d8668c">  <td>19/01/08 20:26:45</td>   <td>114000</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC7_MenuNavigationsVerificationUSRegion.changeTheRegionToUS()[pri:1, instance:ui.regression.testcases.iMercer.TC7_MenuNavigationsVerificationUSRegion@25bbf683]">changeTheRegionToUS</td> 
  <td>main@79290965</td>   <td></td> </tr>
<tr bgcolor="d8668c">  <td>19/01/08 20:26:57</td>   <td>126657</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC7_MenuNavigationsVerificationUSRegion.verifyNavigationViaHeaderMenu()[pri:2, instance:ui.regression.testcases.iMercer.TC7_MenuNavigationsVerificationUSRegion@25bbf683]">verifyNavigationViaHeaderMenu</td> 
  <td>main@79290965</td>   <td></td> </tr>
<tr bgcolor="d8668c">  <td>19/01/08 20:27:24</td>   <td>153009</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC7_MenuNavigationsVerificationUSRegion.dnnPageMenuVerification()[pri:5, instance:ui.regression.testcases.iMercer.TC7_MenuNavigationsVerificationUSRegion@25bbf683]">dnnPageMenuVerification</td> 
  <td>main@79290965</td>   <td></td> </tr>
<tr bgcolor="d8668c">  <td>19/01/08 20:28:06</td>   <td>195069</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC7_MenuNavigationsVerificationUSRegion.verifyMainMenuInDNN()[pri:6, instance:ui.regression.testcases.iMercer.TC7_MenuNavigationsVerificationUSRegion@25bbf683]">verifyMainMenuInDNN</td> 
  <td>main@79290965</td>   <td></td> </tr>
<tr bgcolor="d8668c">  <td>19/01/08 20:28:56</td>   <td>245114</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC7_MenuNavigationsVerificationUSRegion.verifySubMenuInDNN()[pri:7, instance:ui.regression.testcases.iMercer.TC7_MenuNavigationsVerificationUSRegion@25bbf683]">verifySubMenuInDNN</td> 
  <td>main@79290965</td>   <td></td> </tr>
<tr bgcolor="d8668c">  <td>19/01/08 20:29:39</td>   <td>288472</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC7_MenuNavigationsVerificationUSRegion.verifySubMenuUnderBullets()[pri:8, instance:ui.regression.testcases.iMercer.TC7_MenuNavigationsVerificationUSRegion@25bbf683]">verifySubMenuUnderBullets</td> 
  <td>main@79290965</td>   <td></td> </tr>
</table>
